# Datasets
mvtec_anomaly_detection.tar.xz
data/*
!data/raw/
data/raw/*
!data/raw/.gitkeep
!data/processed/
data/processed/*
!data/processed/.gitkeep
!data/splits/
data/splits/*
!data/splits/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
.DS_Store
